* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 11px;
	color: #4d4d4d;
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
}

body {
	background-color: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
